.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcresult
timeline.xctimeline
playground.xcworkspace

.build/
.swiftpm/
Packages/
Package.resolved

Pods/
Carthage/Build/
Carthage/Checkouts/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output
iOSInjectionProject/
